<div class="container page-title">Access Denied</div>
<div class="container page-container">
  <div class="actions"></div>
  <div class="section">
    <div class="section-paragraph">
      You have attempted to access the Open Banking Product data manager, and you are not currently authorised. Please arrange access by raising a <a href="http://groupservicerequest.global.hsbc">Group Service Request (GSR)</a>. Approval by your line manager is required.
    </div>
  </div>
  <div class="section">
    <div class="section-title">
      Description
    </div>
    <div class="section-paragraph">
      The Open Banking Product Data Manager is a tool to allow product data to be input to the Open Banking APIs. These APIs  allow third party developers to access detailed product information. The APIs can be examined at <a href="https://developer.hsbc.com">developer.hsbc.com</a>.
    </div>
  </div>
  <div class="section">
    <div class="section-title">
      Intended usage
    </div>
    <div class="section-paragraph">
      This software is intended for product managers and product teams working with products that need to be exposed via the  Open Banking APIs.
    </div>
  </div>
  <div class="section">
    <div class="section-title">
      Cost
    </div>
    <div class="section-paragraph">
      There is no cost for using this software.
    </div>
  </div>
  <div class="section">
    <div class="section-title">
      Restrictions/exceptions
    </div>
    <div class="section-paragraph">
      You must be connected to the HSBC network to gain access. You can be authorised as a <b><i>Maker</i></b> or an <b><i>Approver</i></b>.
    </div>
    <div class="section-paragraph">
      A <b><i>Maker</i></b> can create and modify products for publishing to the Open Banking APIs.
    </div>
    <div class="section-paragraph">
      An <b><i>Approver</i></b> can approve the publishing of products, and is usually a Product Owner.
    </div>
  </div>
</div>







