<br>
<br>
  <h4 class="text-primary">Product Data Management Application.</h4>
<br>
<pre>
  PDM >> Product Data Management Application - Retricted for only internal use.
</pre>
<br>

&nbsp;<a class="btn-link navbar-text glyphicon glyphicon-user" [routerLink]="['/login']">Login</a> &nbsp;&nbsp;

<br><br><br>
<hr>
<br><br><br><br><br><br>
<hr>
<h6 class="text-primary">
  PDM Application based on the latest technologies framework stack.
</h6>

<br>
  <ul>
    <li>AngularJS  &nbsp;&nbsp;&nbsp;&nbsp;   version:2.0.0   &nbsp;&nbsp;&nbsp;&nbsp;  [Front End]</li>
    <li>SpringBoot &nbsp;&nbsp;&nbsp;&nbsp;   version:2.0.0   &nbsp;&nbsp;&nbsp;&nbsp;  [Application Server] </li>
    <li>MongoDB    &nbsp;&nbsp;&nbsp;&nbsp;   version:3.2.0   &nbsp;&nbsp;&nbsp;&nbsp;  [Database]</li>
  </ul>

